<div id="menu">
    <ul style="list-style-type:none;">
        <div id="menu-close" onclick="hideMenu()">x</div>
        <li><a href="/">Home</a></li>
        <li><a href="/store">Einlagern</a></li>
    </ul>
</div>