<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascript/functions.js"></script>
</head>
<body>
<% include ../partials/headerbar.ejs %>
<h1><%= title %></h1>
</body>
</html>
